<!doctype html>
<html>

    <head>
        <title>Welcome to <%=forumName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>

    <body>
        <h1 class="page-logo">
            <a href= "/"><%=forumName%> 
                <p>!</p> 
                <h2>Forum website</h2>
            </a>
        </h1>

        <nav>
            <ul>
                <li>
                    <a href="topics">All Topics</a>
                </li>
                <li>
                    <a href="users">All Users</a>
                </li>
                <li>
                    <a href="posts">All Posts</a>
                </li>
                <li>
                    <a href="addPost">Create A New Post</a>
                </li>
                <li>
                    <a href="search">Search Posts</a>
                </li>
                <li>
                    <a href="about">About Forum</a>
                </li>
            </ul>
        </nav>

        <main>
            <div class="latest-post-container">
                <% for (let i = 0; i < latestPosts.length; i++) { %>
                    <!-- Display list of all latest posts and description -->
                    <div class="topic-label-box"><%= latestPosts[i].topic%></div>
                    <div class="outer-box">
                        <h1><%= latestPosts[i].title%> </h1>
                        <p1>by <%= latestPosts[i].creator%> at <%= latestPosts[i].created_at%></p1> <br><br>
                        <div class="main-content"><%= latestPosts[i].content%></div>
                        <form class="delete-btn"action="/delete-post" method="post">
                            <input type="hidden" name="postId" value="<%= latestPosts[i].id %>">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </main>
    </body>

</html>