<!DOCTYPE html>
<html>
<head>
    <title>List Of All Users</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>

<body>

    <h1 class="page-logo">
        <a href= "/"><%=forumName%>
            <p>!</p>
            <h2>Forum website</h2>
        </a>
    </h1>

    <h2 class="page-title"> Here are all the posts that match the <%=searchTerm%> on <%=forumName%> <p>!</p></h2>

    <main>
        <div class="posts-container">
            <% for (let i = 0; i < posts.length; i++) { %>
                <!-- Display list of all post containing the search result-->
                <div class="topic-label-box"><%= posts[i].topic%></div>
                <div class="outer-box">
                    <h1><%= posts[i].title%> </h1>
                    <p1>by <%= posts[i].creator%> at <%= posts[i].created_at%> </p1> <br><br>
                    <div class="main-content"><%= posts[i].content%></div>
                </div>
            <% } %>
        </div>
    </main>

</body>

</html>